.deployment
.classpath
.settings
.project
.bowstreet
log/*.log
~temp/
**/.DS_Store

WebContent/projectDeploy.xml
WebContent/index.jsp
WebContent/.excludeFromServer
WebContent/META-INF/
WebContent/factory/
WebContent/samples/

WebContent/WEB-INF/bin
WebContent/WEB-INF/bowst_webapp.tld
WebContent/WEB-INF/builders
WebContent/WEB-INF/classes
WebContent/WEB-INF/clientLibs
WebContent/WEB-INF/config
WebContent/WEB-INF/factory
WebContent/WEB-INF/ibm-web-bnd.xmi
WebContent/WEB-INF/ibm-web-ext.xmi
WebContent/WEB-INF/lib
WebContent/WEB-INF/logs
WebContent/WEB-INF/lookup_definitions
WebContent/WEB-INF/manifests
WebContent/WEB-INF/models/factory
WebContent/WEB-INF/models/samples
WebContent/WEB-INF/models/ExternalModelProperties.xml
WebContent/WEB-INF/profiles
WebContent/WEB-INF/properties
WebContent/WEB-INF/samples
WebContent/WEB-INF/schemas
WebContent/WEB-INF/script_templates
WebContent/WEB-INF/spreadsheet
WebContent/WEB-INF/web.xml
WebContent/WEB-INF/work




